<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue3 夏令營 :: Week 1 主線任務</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a href="../index.html" class="btn btn-outline-light me-3">回首頁</a>
        <button type="button" class="btn btn-light" @click="status = !status">
          切換解析度
        </button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="ms-lg-4 my-2 text-muted small">現在圖片解析度：
            <span v-if="status">清晰</span>
            <span v-else>模糊</span></div>
        </div>
      </div>
    </nav>
    <div class="container my-4">
      <div class="row">
        <div class="col-md-4 mb-3" v-for="item in data">
          <div class="card h-100 shadow border-0">
            <div class="position-absolute" style="top: 20px; right: 20px">
              <button type="button" class="btn btn-outline-danger rounded-pill" @click="item.favorite = true">
                <i class="bi bi-heart fs-5" v-if="!item.favorite"></i>
                <i class="bi bi-heart-fill fs-5" v-else></i>
              </button>
            </div>


            <div class="card-body">
              <img v-if="status" :src="item.picture.large" class="w-50 rounded-circle d-block m-auto" />
              <img v-else :src="item.picture.thumbnail" class="w-50 rounded-circle d-block m-auto" />
              <figure class="text-center mt-3">
                <blockquote class="blockquote">
                  <p class="card-title fw-bold">{{ item.name.title }} {{ item.name.first }} {{ item.name.last }}
                    <span v-if="item.gender==='male'" class="badge bg-info rounded-pill ms-1">♂</span>
                    <span v-else class="badge bg-warning rounded-pill ms-1">♀</span></p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  {{ item.location.timezone.description}}
                </figcaption>
              </figure>
              <ul class="list-unstyled">
                <li class="card-text">
                  <i class="me-2 text-secondary bi bi-envelope-fill"></i><a class="link-secondary"
                    :href=`mailto:${item.email}`>{{ item.email }}</a>
                </li>
                <li class="card-text"><i class="me-2 text-secondary bi bi-telephone-fill"></i><a class="link-secondary"
                    :href=`tel:${item.phone}`>{{ item.phone }}</a></li>
                <li class="card-text"><i class="me-2 text-secondary bi bi-phone-fill"></i><a class="link-secondary"
                    :href=`tel:${item.cell}`>{{ item.cell }}</a>
                </li>
                <li class="card-text"><i class="me-2 text-secondary bi bi-house-door-fill"></i><a class="link-secondary"
                    :href=`https://www.google.com.tw/maps/search/${item.location.city}${item.location.state}`
                    target="_blank">{{ item.location.city }} {{ item.location.state }} {{ item.location.country }}
                    {{ item.location.postcode }}</a></li>
              </ul>
              <ul class="list-unstyled bg-light p-3">
                <li class="card-text">City: {{ item.location.city }}</li>
                <li class="card-text">State: {{ item.location.state }}</li>
                <li class="card-text">Country: {{ item.location.country }}</li>
                <li class="card-text mb-2">Postcode: {{ item.location.postcode }}</li>
                <li class="card-text">
                  <small class="text-muted">dob：{{ item.dob.date }}</small>
                </li>
                <li class="card-text">
                  <small class="text-muted">registered：{{ item.registered.date }}</small>
                </li>
              </ul>

              <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                :src=`https://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q=${item.location.coordinates.latitude},${item.location.coordinates.longitude}&z=10&output=embed`>
                </iframe> </div> </div> </div> </div> </div> </div> <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
                crossorigin="anonymous">
                </script>
                <script src="https://unpkg.com/vue@next"></script>
                <script src="data.js"></script>
                <script>
                  const app = Vue.createApp({
                    data() {
                      return {
                        status: true,
                        data: [],
                      }
                    },
                    mounted() {
                      this.data = results;
                    },
                  }).mount("#app");
                </script>
</body>

</html>